doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Invite
      p
        strong Hi,
        br
        strong  Your friend #{firstName} with email #{email_id} invited you to join AimsQuant and give a try.
        p
        Click below to join AimsQuant
        br
        a(href='https://aimsquant.com') Aimsquant.com

      p
        strong Thanks
        br
        strong AimsQuant Team
