doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/performance/custom.css')
	body
	block content
	block scripts
		script(type="text/javascript", src="/javascripts/jquery-1.11.2.min.js")
		script(type="application/javascript", src="/javascripts/index.js")