doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 Password Reset
      p
        strong Hi,
        br
        strong  Password reset success
        br
        a(href='https://aimsquant.com') Aimsquant.com

      p
        strong Thanks
        br
        strong AimsQuant Team