extends layout

block content
	div.col-xs-12.col-sm-12.col-md-12
		div.col-xs-5.col-sm-4.col-md-4
		div.col-xs-2.col-sm-4.col-md-4
			img.banner-image(src="/user/images/banner.png")
		div.col-xs-5.col-sm-4.col-md-4
	div.col-xs-12.col-sm-12.col-md-12
		div.col-xs-2.col-sm-2.col-md-2
		div.col-xs-8.col-sm-8.col-md-8
			div.well.well-sm
				div.error_box
				form.form-horizontal(action='resetpasswordcall', id="resetPassword", name="resetPassword", method="post")
					input(type="hidden", name="code", value="#{data.code}")
					div.form-group
					div.form-group
						label.col-sm-2 New Password 
						div.col-xs-8.col-sm-8.col-md-8
							input.form-control(type="password", placeholder="password", id="newpassword", name="newpassword")
					div.form-group
						label.col-sm-2 Confirm Password
						div.col-xs-8.col-sm-8.col-md-8
							input.form-control(type="password", placeholder="password", name="password", id="password")
					div.form-group
						div.col-xs-3.col-sm-4.col-md-4
						div.col-xs-5.col-sm-4.col-md-4
							button.btn.btn-submit Submit
						div.col-xs-4.col-sm-4.col-md-4
		div.col-xs-2.col-sm-2.col-md-2