html
    head
        title node-jupyter | Home
    body
        p Enter used id to launch notebook
        form(action="/launch" method="GET")
            input(type="text" placeholder="user id" name="user")
            input(type="submit" value="Launch")
