html
    head
        title node-jupyter | Welcome
    body
        p Welcome #{user}!
        div.controller
            p
                |Your notebook is running
                a(target="_blank" href= baseUrl)  here

            a(href="/exit?user="+ user) Exit my notebook
